/* Force a vertical scrollbar to always appear */
html {
    overflow-y: scroll;
}

/* home-link class */
.home-link {
    color: white;
}

/* header */
header {
    background-color: #333333;
    padding: 5px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Align items in the header */
.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Style for the "About Me" link */
nav .about-link {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav .about-link:hover {
    color: #00aaff;
    text-decoration: underline;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

h3 {
    font-size: 1.75em;
    font-weight: 500;
}

p {
    margin: 0 0 1.5em;
    font-size: 1.1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 4px solid #569cd6;
    padding-left: 1em;
    color: #bbbbbb;
    font-style: italic;
    background-color: #252526;
    margin: 1.5em 0;
    padding: 0.5em 1em;
}

.codehilite {
    background: #1e1e1e !important; /* Black background */
    /* some padding */
    padding: 0.5em;
}

pre {
    background: #1e1e1e !important; /* Black background */
    /* some padding */
    padding: 0.5em;
}

/* Buttons - Dark mode style */
button, .btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #007acc;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover, .btn:hover {
    background-color: #005f99;
}

button:disabled, .btn:disabled {
    background-color: #333333;
    cursor: not-allowed;
}

.container {
    width: 1000px;
    margin: 2em auto;
    padding: 1em;
    background: #252526;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #d4d4d4;
    display: block;
    justify-content: center; /* Or another alignment */
    align-items: center;
}

/* Container for code language label and copy button */
.code-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1em; */
    /* margin-bottom: 0.5em; */
    /* grey background */
    background-color: #343434;
    padding: 0.5em;
}

.code-language {
    font-size: 0.75em;
    color: #888;
}

.copy-button {
    background-color: #343434;
    color: #888;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
    cursor: pointer;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    gap: 3px;
}

.copy-button:hover {
    background-color: #343434;
    color: #888;
}

pre {
    padding: 1em;
    margin: 0;
    overflow: auto;
    background: #1e1e1e !important;
    border-radius: 5px;
}

pre code {
    font-size: 0.9em;
    line-height: 1.4;
}

.codehilite {
    margin: 0;
}

/* tags */
.post-tags {
    margin-bottom: 0em;
    font-size: 0.9em;
    color: #555;
}

.post-tag {
    background-color: #424242;
    padding: 3px 6px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: #9c9c9c;
}

.post-tag:hover {
    background-color: #4e4e4e;
}

/* Post List and Cards */
.post-list {
    margin: 20px 0;
}

.post-card {
    background-color: #2c2c2c;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* animation */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-title {
    margin: 0;
    font-size: 1.2em;
}

.post-title a {
    text-decoration: none;
    color: #00aaff;
}

.post-title a:hover {
    text-decoration: none;
}

.post-meta {
    text-align: right;
}

.post-date {
    font-size: 0.9em;
    color: #bbb;
    margin-bottom: 5px;
}

.post-tags {
    margin-top: 5px;
}

.post-tag {
    background-color: #444;
    color: #ddd;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    margin-left: 5px;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.post-tag:hover {
    background-color: #666;
}

.post-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.post-card-link:hover {
    text-decoration: none;
}

.post-card-link:hover .post-card {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.post-card-link h2.post-title a {
    text-decoration: none;
}

.post-card-link h2.post-title a:hover {
    text-decoration: none; /* Ensure no underline on hover */
}
