/* Force a vertical scrollbar to always appear */
html {
    overflow-y: scroll;
}


/* Dark Mode CSS */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

h3 {
    font-size: 1.75em;
    font-weight: 500;
}

p {
    margin: 0 0 1.5em;
    font-size: 1.1em;
}

a {
    color: #569cd6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    border-left: 4px solid #569cd6;
    padding-left: 1em;
    color: #bbbbbb;
    font-style: italic;
    background-color: #252526;
    margin: 1.5em 0;
    padding: 0.5em 1em;
}

.codehilite {
    background: #1e1e1e !important; /* Black background */
    /* some padding */
    padding: 0.5em;
}

pre {
    background: #1e1e1e !important; /* Black background */
    /* some padding */
    padding: 0.5em;
}

/* Buttons - Dark mode style */
button, .btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #007acc;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover, .btn:hover {
    background-color: #005f99;
}

button:disabled, .btn:disabled {
    background-color: #333333;
    cursor: not-allowed;
}

.container {
    max-width: 1000px;
    margin: 2em auto;
    padding: 1em;
    background: #252526;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #d4d4d4;
}


/* Container for language label and copy button */
.code-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 1em; */
    /* margin-bottom: 0.5em; */
    /* grey background */
    background-color: #343434;
    padding: 0.5em;
}

.code-language {
    font-size: 0.75em;
    color: #888;

}

.copy-button {
    background-color: #343434;
    color: #888;
    border: none;
    border-radius: 3px;
    padding: 2px 6px;
    cursor: pointer;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    gap: 3px;
}

.copy-button:hover {
    background-color: #343434;
    color: #888;
}

pre {
    padding: 1em;
    margin: 0;
    overflow: auto;
    background: #1e1e1e !important;
    border-radius: 5px;
}

pre code {
    font-size: 0.9em;
    line-height: 1.4;
}

.codehilite {
    margin: 0;
}
