<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Prism CSS (for code highlighting) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />

    <!-- Prism JS (for code highlighting) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script> <!-- Add more languages as needed -->
</head>
<body class="bg-dark">
    <header class="bg-dark py-3">
        <div class="container bg-dark", id="header-container">
            <div class="d-flex justify-content-between align-items-center">
                <a href="{{ url_for('index') }}" class="home-link text-light"><h2>Danny McVey</h2></a>
                <nav>
                    <a href="{{ url_for('post', post_name='about-me') }}" class="about-link btn btn-outline-light">About Me</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark py-3">
        <div class="container text-center text-light", id="footer-container">
            <p>&copy; 2024 Danny McVey. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
