{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
    {{ pygments_css | safe }}
</style>
<div class="container bg-dark text-light">
    <article>
        
        <h1 class="text-light">{{ title }}</h1>
        <!-- Post content -->
        {{ content | safe }}
        <!-- Display the tags at the bottom -->
        {% if tags %}
        <p class="post-tags text-light">
            {% for tag in tags %}
                <span class="post-tag">{{ tag }}</span>{% if not loop.last %} {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </article>
</div>

<script src="{{ url_for('static', filename='copy-code.js') }}"></script>
<script src="{{ url_for('static', filename='style_overrides.js') }}"></script>

{% endblock %}
