{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
>
<link rel="stylesheet" href="{{ url_for('static', filename='map-embed.css') }}">
{% endblock %}

{% block content %}
<style>
    {{ pygments_css | safe }}
</style>
<div class="container bg-dark text-light">
    <article>
        
        <h1 class="text-light">{{ title }}</h1>
        <!-- Post content -->
        {{ content | safe }}
        <!-- Display the tags at the bottom -->
        {% if tag_objs %}
        <p class="post-tags text-light">
            {% for tag in tag_objs %}
                <a class="post-tag tag-link" href="{{ url_for('tag', tag_slug_value=tag.slug) }}">{{ tag.name }}</a>{% if not loop.last %} {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </article>
</div>

<script src="{{ url_for('static', filename='copy-code.js') }}"></script>

{% endblock %}

{% block extra_scripts %}
<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
<script src="{{ url_for('static', filename='map-embed.js') }}"></script>
{% endblock %}
